<app-navbar></app-navbar>

<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Brand ID</th>
          <th scope="col">Brand Name</th>
          <th scope="col">Model ID</th>
          <th scope="col">Model Name</th>
          <th scope="col">Owner’s ID card number</th>
          <th scope="col">Owner’s first name</th>
          <th scope="col">Owner’s last name</th>
          <th scope="col">Owner’s contact number</th>
          <th scope="col">Owner’s email address</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{id}}</td>
          <td>{{serialNumber}}</td>
          <td>{{brandId}}</td>
          <td>{{brandName}}</td>
          <td>{{modelId}}</td>
          <td>{{model}}</td>
          <td>{{ownerIdCardNumber}}</td>
          <td>{{ownerFirstName}}</td>
          <td>{{ownerLastName}}</td>
          <td>{{ownerContactNumber}}</td>
          <td>{{ownerEmailAddress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  